.wrap{position:absolute;left:0;right:0;top:0;bottom:0;}
@media(min-width: 642px){body{font-size:30px;}}
@media(max-width: 641px){body{font-size:22px;}}
@media(max-width: 481px){body{font-size:16px;}}
@media screen and (max-width: 321px){body{font-size:12px;}}
body{color: #666666;background: #fff;}
a{color: #666666;}
.deng_text{border: none;border-bottom: 1px solid #dddddd;height: 3em;}
.deng_text_a{margin-top: 2em;}
.deng_btn{background: #ff726b;border-radius: 40px;height: 2.5em;color: #fff;border: none;margin-top: 4em;}
.deng_bottom{margin-top: 2em;margin-bottom:2em;padding: 0 2em;}