@media(min-width: 642px){.content{font-size:30px;}.big_title,.btn{font-size:36px;}}
@media(max-width: 641px){.content{font-size:24px;}.big_title,.btn{font-size:29px;}}
@media(max-width: 481px){.content{font-size:18px;}.big_title,.btn{font-size:21px;}}
@media screen and (max-width: 321px){.content{font-size:12px;}.big_title,.btn{font-size:15px;}}
.creat{height:3em;background:#fff;margin-bottom: 1px;padding:0.75em 1em 0.75em 1.5em;}
.btn{color:#fff;background:#ff726b;line-height: 2em;width: 100%;position:fixed;bottom: 0;border: none;}
